:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --black-color: #000000;
  --icons-color: #afb1b8;
  --features-color: #f5f4fa;
  --modal-overlay: rgba(0, 0, 0, 0.2);
  --modal-background: #ffffff;
  --footer-items-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.current {
  position: relative;
  color: var(--accent-color);
}
.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  margin: -1px;
  background-color: var(--accent-color);
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.no-padding {
  padding-top: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.caption {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-overlay);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--modal-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__button_close {
  position: fixed;
  top: 8px;
  right: 8px;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.modal__button_close:hover, .modal__button_close:focus {
  fill: var(--accent-color);
}

.modal__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 12px;
}

.modal-form__label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal-form__input {
  display: flex;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  outline: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus {
  border: 1px solid var(--accent-color);
}

.modal-form__wrap {
  position: relative;
}

.modal-form__input__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  fill: currentColor;
}
.modal-form__input:focus + .modal-form__input__icon {
  fill: var(--accent-color);
}

.modal-form__comment {
  display: flex;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__comment:focus {
  border-color: var(--accent-color);
}
.modal-form__comment::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__comment::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal-checkbox__text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.modal-checkbox__text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox__input:checked + .modal-checkbox__text span {
  background-color: var(--accent-color);
  border-color: transparent;
  fill: var(--third-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox__input:focus + .modal-checkbox__text span {
  border-color: var(--accent-color);
}

.modal-checkbox__text_condition {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: underline;
}

.modal__button__box {
  display: flex;
  justify-content: center;
}

.modal__button__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button__text:hover, .modal__button__text:focus {
  background-color: #188ce8;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  color: var(--black-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 93px;
}

.header__logo_color {
  color: var(--accent-color);
}

.header__navigation {
  display: flex;
}

.header__list {
  list-style-type: none;
}
.header__list + .header__list {
  margin-left: 50px;
}

.header__navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__navigation__link:hover, .header__navigation__link:focus {
  color: var(--accent-color);
}

.header__contacts {
  display: flex;
  margin-left: auto;
}

.header__contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  justify-content: center;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contacts__link:hover, .header__contacts__link:focus {
  color: var(--accent-color);
}
.header__contacts__link + .header__contacts__link {
  margin-right: 50px;
}

.header__contacts__link__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #c4c4c4;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  color: var(--third-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
}

.hero__button {
  background-color: var(--accent-color);
  color: var(--third-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  border-color: transparent;
  border-radius: 4px;
  min-width: 216px;
  padding: 10px 32px;
  text-align: center;
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
  color: var(--third-text-color);
}

.features-content {
  display: flex;
}

.features-list {
  list-style-type: none;
  flex-basis: 270px;
}
.features-list + .features-list {
  margin-left: 30px;
}

.features-list__item {
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--features-color);
}

.features-list__subtitle {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10;
}

.features-list__text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
}

.task-content {
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.task-list {
  list-style-type: none;
}

.task-list__thumb {
  position: relative;
}

.task-list__desc {
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  width: 370px;
  justify-content: center;
  align-items: center;
}

.task-list__desc__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  margin: 0;
  padding: 27px 15px;
}

.bg-team {
  background-color: #f5f4fa;
}

.team-content {
  display: flex;
  gap: 30px;
  padding-right: 0;
  padding-left: 0;
  margin: 0;
}

.team-list {
  background-color: var(--third-text-color);
  list-style-type: none;
  width: 270px;
  width: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__content {
  padding: 30px 10px;
}

.team-list__name {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 10px;
}

.team-list__desc {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 16px;
}

.team-list__soc {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-left: 0;
}

.team-list__soc__list {
  list-style-type: none;
}

.team-list__soc__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--third-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icons-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list__soc__link:hover, .team-list__soc__link:focus {
  background-color: var(--accent-color);
  color: var(--third-text-color);
}

.team-list__soc__icon {
  fill: currentColor;
}

.clients-content {
  display: flex;
  padding-left: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.clients-list {
  list-style-type: none;
}

.clients-list__logo {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid;
  border-radius: 4px;
  color: var(--icons-color);
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__logo:hover, .clients-list__logo:focus {
  color: var(--accent-color);
}

.clients-list__icon {
  fill: currentColor;
}

.bg-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  color: var(--black-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer__logo_color_accent {
  color: var(--accent-color);
}

.footer__logo_color {
  color: var(--third-text-color);
}

.footer__adress__container {
  margin-top: 20px;
}

.footer__adress {
  display: block;
}

.adress-content {
  padding-left: 0;
  margin: 0;
}

.footer-list__adress {
  color: var(--third-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list__adress:hover, .footer-list__adress:focus {
  color: var(--accent-color);
}

.footer-list__contacts {
  color: var(--footer-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-list__contacts:hover, .footer-list__contacts:focus {
  color: var(--accent-color);
}

.footer-list {
  list-style-type: none;
}
.footer-list:not(:first-child) {
  margin-top: 9px;
}

.footer__socials {
  margin-left: 70px;
}

.footer__socials__items {
  display: flex;
  padding-left: 0;
  gap: 10px;
}

.footer__socials__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-top: 0;
  margin-bottom: 20px;
}

.footer__socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--third-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__socials__link:hover, .footer__socials__link:focus {
  background-color: var(--accent-color);
}

.footer__socials__icon {
  fill: currentColor;
}

.footer__form {
  display: flex;
  margin-left: 93px;
}

.footer__form__subtitle {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

.footer__form__box {
  display: flex;
}

.footer__form__button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  padding: 0 auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--third-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
}

.footer__form__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  background-color: transparent;
  padding: 0;
  padding-left: 16px;
}
.footer__form__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer__form__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer__form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer__form__button__icon {
  fill: var(--footer-items-color);
  margin-left: 10px;
}

.filtres {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filtres-list {
  list-style-type: none;
}
.filtres-list + .filtres-list {
  margin-left: 8px;
}

.filtres__button_color {
  background-color: rgb(245, 244, 250);
  color: var(--primary-text-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filtres__button_color:hover, .filtres__button_color:focus {
  background-color: var(--accent-color);
  color: var(--third-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filtres__button__text {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-color: transparent;
  border-radius: 4px;
  padding: 6px 25px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects-list {
  list-style-type: none;
  width: calc((100% - 60px) / 3);
}

.projects-list__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-list__link:hover, .projects-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list__desc {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.projects-list__desc__subtitle {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 4px;
}

.projects-list__desc__text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin: 0;
}

.projects-list__thumb {
  position: relative;
  overflow: hidden;
  height: 294px;
}

.projects-list__overlay {
  position: absolute;
  bottom: 0;
  background-color: rgba(33, 150, 243, 0.9);
  display: flex;
  width: 370px;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-list:hover .projects-list__overlay, .projects-list:focus .projects-list__overlay {
  opacity: 1;
  transform: translateY(0);
}

.projects-list__overlay__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  padding: 63px 24px;
  margin: 0;
}/*# sourceMappingURL=main.css.map */